
#tags {
    text-decoration: none;
}

.card, img {
    border-radius: 30px;
}
.card-img-top {
    border-radius: 30px !important;
}

    .card a {
        text-decoration: none;
    }

    .card .card-text {
        color: black;
    }

.articles .card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}