<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMartWinForm.Properties.Settings.WordVoyagerConnectionString"
            connectionString="Data Source=EPINHYDW0B0F\SQLEXPRESS;Initial Catalog=WordVoyager;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EMartWinForm.Properties.Settings.EMartDBConnectionString"
            connectionString="Data Source=EPINHYDW0B0F\SQLEXPRESS;Initial Catalog=EMartDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>